@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-0-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.img-flex {
    display: block;
    width: 100%;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -10em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.red {
    color: red;
}

.billboard {
    background-image: url("../img/billboard-bg.svg");
    background-repeat: repeat-x;
    overflow: hidden;
    width: 100%;
    height: 25vh;
    position: relative;
    margin: 0 auto;
    padding: 80px;
}

.rocking-chair {
    position: absolute;
    width: 45px;
    bottom: 20%;
    left: 55%;
    xheight: 100px;
    -webkit-transform-origin:center bottom;
    -webkit-animation: chair-rock 3s ease-in-out infinite alternate;
    transform-origin: center bottom;
    animation: chair-rock 3s ease-in-out infinite alternate;
}

@-webkit-keyframes chair-rock {
    0% {-webkit-transform: rotate(-10deg);}
    100% {-webkit-transform: rotate(10deg);}
}

@keyframes chair-rock {
    0% {transform: rotate(0deg);}
    50% {transfrom: rotate(-10deg);}
    10% {transform: rotate(10deg);}
}

.window {
    position: absolute;
    width: 75px;
    left: 60%;
    bottom:50%;
}

.title {
    position: absolute;
    width: 75px;
    bottom: 50%;
    left: 8%;
    -webkit-animation: cloud 7s ease-in-out infinite alternate;
    animation: cloud 7s ease-in-out infinite alternate;
}

@-webkit-keyframes cloud{
    0% {transform: translateX(0);}
    25% {transform: translateX(9px);}
    50% {transform: translateY(20px);}
    75% {transform: translateX(-9px);}
    100% {transform: translateY(10px);}
}

@keyframes cloud{
    0% {transform: translateX(0);}
    25% {transform: translateX(9px);}
    50% {transform: translateY(20px);}
    75% {transform: translateX(-9px);}
    100% {transform: translateY(10px);}
}

.mouse {
    position: absolute;
    width: 20px;
    bottom: 20%;
    left: -15px;
    -webkit-animation: mouse 4s ease-in-out infinite alternate;
    animation: mouse 4s ease-in-out infinite alternate;
}

@-webkit-keyframes mouse {
    0% {left: -15px;}
    100% {left: 100%;}
}

@keyframes mouse {
    0% {left: -15px;}
    100% {left: 100%;}
}

@media only screen and (min-width: 25em) {

    .billboard {
        height: 50vh;
    }

    .rocking-chair {
        width: 85px;
        bottom: 27%;
        left: 50%;
    }

    .window {
        width: 150px;
        bottom:55%;
        left: 50%;
    }

    .title {
        width: 140px;
        bottom:60%;
        left: 8%;
    }

    .mouse {
       width: 40px;
        bottom:27%;
    }

}


@media only screen and (min-width: 38em) {
     .billboard {
        height: 75vh;
    }

     .rocking-chair {
        width: 140px;
        bottom: 20%;
        left: 50%;
    }

    .window {
        width: 260px;
        bottom: 50%;
        left: 58%;
    }

    .title {
        width: 280px;
        bottom:55%;
        left: 7%;
    }

    .mouse {
        width: 50px;
        bottom: 22%;
    }
}


@media only screen and (min-width: 60em) {
     .billboard {
        height: 100vh;
    }

    .rocking-chair {
        width: 200px;
        bottom: 17%;
        left: 55%;
    }

    .window {
        width: 380px;
        bottom: 50%;
        left: 60%;
    }

    .title {
        width: 450px;
        bottom:50%;
        left: 10%;
    }

    .mouse {
        width: 70px;
        bottom: 20%;
    }
}
